*{
   padding: 0;
   margin: 0;
}

#header {
   font-size: 10rem;
   font-family: 'Karla', sans-serif;
   font-weight: 700;
   padding-top: 100px;
   padding-bottom: 300px;
   background-color: #FFE3DB;
   width: 100%;
}

h1:nth-of-type(1) {
   text-align: left;
   padding-left: 20px;
}

h1:nth-of-type(2) {
   text-align: right;
   padding-right: 30px;
}

nav ul {
   list-style: none;
   text-align: center;
   font-size: 2rem;
}

nav ul li {
   display: inline-block;
   text-align: center;
}

nav ul li a {
   display: block;
   color: black;
   text-decoration: none;
   padding-left: 60px;
   padding-right: 60px;
}

a:active {
   text-decoration: underline;
}

a:visited {
   color: black;
}

a:hover {
   color: black;
   text-decoration: underline;
}

/* .navbar {
   overflow: hidden;
   color: #f2f2f2;
   font-family: 'Karla', sans-serif;
   font-size: 2rem;
   position: fixed;
   bottom: 0;
   width: 100%;
}

.navbar a {
  float: left;
  color: black;
  align-content: center;
  padding: 14px 50px;
  text-decoration: none;
  padding: 33px;
} */

.header {
   position:absolute;
   width: 100%;
   height: 150px;
   background-color: white;
   top: 0%;
}

/* .footer{
   position: fixed;
   width: 100%;
   height: 50px;
   background-color: white;
   bottom: 0%;
} */
